* {
    margin: 0px;
    padding: 0px;
  }
  body {
    width: 1170px;
    height: auto;
    margin: auto;
  }
  header {
    width: 1170px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top:40px;

  }
  
  img {
    flex-basis: 60px;
    height: 60px;
    margin-left: 30px;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 20px;
  }
 header button {
    position: relative;
    top:20px;
    right: 90px;
    width: 70px;
    height: 20px;
    background-color: rgb(245, 133, 96);
    border-radius:2px;
    border: none;
    color: #fff;
    flex-shrink: 1;
  }
  li:hover{
    background-color:rgb(33, 143, 194) ;
    background-image: url(../images/images.png);
    color:#fff;
    padding: 20px;
    
  }
 
  input {
    margin-top: 20px;
  }
  .slider {
    width: 1170;
    height: 500px;
    background-image: url(../images/12.jpg);
    text-align: center;
    margin: 20px 0px;
    background-repeat: no-repeat;
    
  }
  
  .slider h1 {
    padding-top:300px;
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .container1{
      background-color: rgb(46, 62, 78);
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding:50px ;
      color: white;
      margin-top: 40px;
      
  }
  .container1 h2{
      color:rgb(221, 124, 92) ;
      margin-bottom: 20px;
      
  }
  .container1 div{
  width: 200px;
  
  
  }
  .container1 p{
      margin-top: 20px;
      }
    .container1 a{
         text-decoration: none;
         color:rgb(33, 143, 194) ;
          }
 input{
     background-color: #fff;
     width: 300px;
 }
     
 .mid h4{
      margin-top: 20px;
  }
  span{
      color: red;
      font-weight: bold;
  }
.one span{
      color:rgb(33, 143, 194);
      font-weight: bold;
  }
  .map p{
      margin-top: 50px;
     
  }
  .map{
   display: flex;
  }
 
  .btn{
  background-color: rgb(34, 144, 198);
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  position: relative;
  top: 30px;
  right: 50px;
  left: 80px;
  margin-bottom: 20px;
  
  }
  .map_img{
      background-image: url(../images/Untitled.jpg);
      width: 600px;
      height: 300px;
      background-repeat: no-repeat;
      margin-left: 10px;
  }
.social li:hover{
background-color:transparent;
background-image: none;
  }